{% extends "base.html" %}

{% block content %}
    <div class="mui-row">
      <div class="mui-col-sm-10 mui-col-sm-offset-1">
        <br>
        <br>
        <div class="mui--text-dark-secondary mui--text-body2">ABOUT ME</div>
        <div class="mui-divider"></div>
        <br>
        <div class="mui--text-headline">Hello!  I'm Mr. Kitty</div>
        <div>
          Otherwise known as Mister David Armani Kittenapolis.  I cuddles, especially lap cuddles.
        </div>
      </div>
    </div>
{% endblock %}