<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- load MUI -->
        <link href="//cdn.muicss.com/mui-0.9.39/css/mui.min.css" rel="stylesheet" type="text/css" />
        <script src="//cdn.muicss.com/mui-0.9.39/js/mui.min.js"></script>

        <!-- custom style -->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div id="sidebar">
            <div class="mui--text-light mui--text-display1 mui--align-vertical">MR. KITTY</div>
            <br>
                <ul>
                    <li>
                        <a class="mui--text-light" href="/"><strong>BLOG</strong></a>
                    </li>
                    <li>
                        <a class="mui--text-light" href="/about"><strong>ABOUT</strong></a>
                    </li>
                    <li>
                        <a class="mui--text-light" href="/contact"><strong>CONTACT</strong></a>
                    </li>
                </ul>
        </div>
        <div id="content" class="mui-container-fluid">
            {% block content %}{% endblock %}
        </div>
    </body>

</html>