{% extends "base.html" %}

{% block content %}
    <div class="mui-row">
      <div class="mui-col-sm-10 mui-col-sm-offset-1">
        <br>
        <br>
        <div class="mui--text-dark-secondary mui--text-body2">RECENT POSTS</div>
        <div class="mui-divider"></div>
        <br>
        <div class="mui--text-headline">I got wet food!</div>
        <div class="mui--text-dark-secondary">By <a href="#">Mr. Kitty</a> 3 days ago</div>
        <div>
          I got wet food for breakfast.  It was the best.
        </div>
      </div>
    </div>
{% endblock %}